@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,900&display=swap');

/* #48752C */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    text-decoration: none;
    list-style: none;
}

/* Création des variables */
:root{
    --color-primary: #e8e9e7;
    --color-secondary: #817a81;
    --color-third: #ffffff;
    --card-bg-color: #5f5f5f;
    --color-fourth: #38bfd1;
    --color-fifth: #003c41;
    --color-hover-lien: #38bfd1;
    --email-color: #a3a3a3;
    --transition: 0.2s ease-in-out;
}

/* Debut de la stylisation de la page d'accueil */
.entete-wel{
    text-align: center;
    justify-content: center;
    background-color: var(--color-primary);
    max-width: 100%;
    color: var(--color-fourth);
}

/* Stylisation de la barre de navigation */
.navbar .logo span{
    color: var(--color-fifth);
}

.navbar nav{
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    gap: 4rem;
    padding: 1rem 1rem;
    box-shadow: 1px 5px 5px var(--card-bg-color)
}

.navbar a{
    color: var(--color-third);
}

.navbar li a{
    color: var(--color-third);
    font-size: 14px;
}

.navbar li a:hover{
    color: var(--color-fourth);
    border-bottom: 1.5px solid var(--color-fourth);
    transition: var(--transition);
}

.navbar .bouton-dow{
    background-color: var(--color-fifth);
    color: var(--color-fourth);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.navbar .bouton-dow:hover{
    background-color: var(--color-hover-lien);
    color: var(--color-fifth);
    font-size: 17px;
    transition: var(--transition);
}

/* Suite de la stylisation de la page Acceuil */
#acceuil{
    max-width: 100%;
    height: 90vh;
    background: var(--color-primary);
    position: relative;
}

.acceuil-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 5rem;
    margin-top: 0.5rem;
    padding-top: 7rem;
}

/* Acceuil partie left */
.acceuil-container .container-left{
    display: block;
    text-align: center;
    max-width: 700px;
}

.acceuil-container .container-left 

/* Acceuil partie right */
.acceuil-container .container-right img{
    width: 350px;
    border-radius: 50%;
}
